# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/
env/

# Ignore logs
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Node modules (if you have any JS project)
node_modules/
.env
# Ignore media/uploads
media/
